<div class="flex justify-between m-b">
  <app-search
    [searchText]="searchText"
    (search)="ChangeResults($event)"
  ></app-search>
  <button >
      <a class="btn-add" [routerLink]="['/registro/agregar']">
          Agregar
      </a>
  </button>
</div>
<div class="error" *ngIf="error != ''">
  <p>{{error}}</p>
</div>
<div class="table">
  <app-table
    [columnsHeader]="columnsHeader"
    [rowValuesMap]="rowValuesMap"
    (edit)="EditProduct($event)"
    (delete)="ShowModalDelete($event)"
    (changeResults)="ChangeNumberResults($event)"
    >

  </app-table>
</div>
<ng-container *ngIf="modalShow">
  <app-modal-confirmation [id]="idDelete" (result)="DeleteProduct($event)"></app-modal-confirmation>
</ng-container>
