<div class="form-input">
  <label [for]="idHtml">{{nameHtml}}</label>
  <input #input [id]="idHtml" [placeholder]="placeholder" [readonly]="readonly" [class]="class" [type]="type" (blur)="onChange($event, input.value)">
  <ng-container *ngIf="!control.pristine && !control.valid">
    <div *ngIf="error?.['required']"  class="alert alert-danger">
        Es requerido
    </div>
    <div *ngIf="error?.['minlength']"  class="alert alert-danger">
        Debe tener al menos {{error?.['minlength'].requiredLength}} caracteres
    </div>
    <div *ngIf="error?.['maxlength']"  class="alert alert-danger">
        Debe tener maximo {{error?.['maxlength'].requiredLength}} caracteres
    </div>
    <div *ngIf="error?.['idRepeat']" class="alert alert-danger">
        Este {{nameHtml}} ya esta en uso!
    </div>
    <div *ngIf="error?.['dateInvalid']"  class="alert alert-danger">
        Es igual o mayor a la fecha actual
    </div>
  </ng-container>
</div>
